*.tmp
*.gresource
*.ini
*.c
TODO
doc/pages/
doc/single-page/
doc/index.*
doc/lambda.icon
generate-book.lisp
test/rtest-templates.lisp
test/out/
test/report/
make-coverage.lisp
demo/gtk-demo/out/
demo/gtk-getting-started/binary/
demo/gtk-getting-started/README
demo/gtk-getting-started/*.desktop
example/FILES
