/* You can edit the text in this window to change the
 * appearance of this Window. Be careful, if you screw
 * it up, nothing might be visible anymore.
 */

.demo * {
  color: blue;
  font-family: monospace;
  border: 1px solid;
}

.demo textview {
  background-color: yellow;
}

.demo selection {
  background-color: orange;
  color: black;
}
